/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

 @font-face {
    font-family: 'Space Grotesk';
    src: url('static/SpaceGrotesk-Regular.ttf') format('truetype'),
    url('static/SpaceGrotesk-Bold.ttf') format('truetype'),
    url('static/SpaceGrotesk-Light.ttf') format('truetype'),
    url('static/SpaceGrotesk-Medium.ttf') format('truetype'),
    url('static/SpaceGrotesk-SemiBold.ttf') format('truetype');
  }

body {
  background-image: url('static/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  font-family: 'Space Grotesk';
}

.title-image {
  background-color: black;
  border-radius: 12px;
  padding: 40px 0px;
  left: 0px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  max-width: 920px;
}

/*
 * Cover
 */
.cover {
  padding: 0 5px;
}

.info-text {
  background-color: black;
  border-radius: 12px;
  font-size: 18px;
  padding: 20px;
  max-width: 900px;
}

.title-text {
  max-width: 600px;
  width: 600px;
}

.long {
  width: fit-content;
  max-width: 1200px;
}

.apply-btn {
  background-color: black;
  border-radius: 50px;
  padding: 30px;
  border: solid 1px palevioletred;
  font-size: 25px;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  text-align: left;
}

.org-logo {
  height: 35px;
  width: auto;
  padding: 0px 5px;
}