.button {
  border-radius: 10px;
  border: solid 1px #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Space Grotesk';
  margin: 10px;
  margin-top: 0px;
  padding: 15px;
  width: fit-content;
  font-size: 1vw;
}

.button:hover {
  border: solid 1px palevioletred;
}

@media screen and (max-width: 900px) {
  .button {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
  }
}