.dataBox {
  background-color: #fff;
  color: #000;
  width: 33%;
  padding: 10px;
  border-radius: 10px;
  margin: 50px 25px;
}

.dataBoxTitle {
  font-weight: 900;
  font-size: 1.5vw;
}

.dataBoxBody {
  font-size: 1vw;
}

.dataBoxFooter {
  font-size: 1.2vw;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .dataBox {
    background-color: #fff;
    color: #000;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 25px;
  }
  .dataBoxBody {
    font-size: 1rem;
  }
  
  .dataBoxFooter {
    font-size: 1rem;
  }

  .dataBoxTitle {
    font-weight: 900;
    font-size: 1.5rem;
  }
}