.dropContainer {
  color: #fff;
  margin-top: 100px;
  min-height: 100vh;
  padding-top: 50px;
  width: 100%;
}

.drop-content {
  align-items: center;
  margin-top: 100px;
  position: relative;
  /* background-color: transparent; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropText {
  font-size: 4vw;
  max-width: 30%;
  line-height: 4vw;
  text-align: -webkit-center;
  font-weight: bolder;
  text-shadow: 1px 0 #fff;
  margin-bottom: 5px;
}

.buttonsContainer {
  align-self: center;
  padding-top: 10px;
  text-align: -webkit-center;
}

.imgBody {
  width: 240px;
  margin-top: 60px;
}

.dropButtons {
  border: solid 1px #fff;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .dropContainer {
    margin-top: 50px;
    min-height: 50vh;
    width: 100%;
    padding-top: 0px;
    /* background-size: contain;
    background-position-x: center; */
  }

  .dropButtons {
    margin-top: 0px;
    font-size: 0.8rem;
  }

  .dropText {
    font-size: 2rem;
    line-height: 35px;
    max-width: 90%;
    text-align: -webkit-center;
    margin-top: 40px;
  }

  .drop-content {
    margin-top: 0px;
  }

  .buttonsContainer {
    display: contents;
  }

  .imgBody {
    width: 150px;
    margin-top: 60px;
  }
}
