.dropContainer {
  align-items: center;
  background-image: url('../static/Drop.png');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  min-height: 100vh;
  padding-top: 50px;
  width: 100%;
}

.dropText {
  font-size: 4vw;
  max-width: 30%;
  line-height: 4vw;
  text-align: -webkit-center;
  font-weight: bolder;
  text-shadow: 1px 0 #fff;
  margin-bottom: 5px;
}

.buttonsContainer {
  align-self: center;
  padding-top: 10px;
  text-align: -webkit-center;
}

.imgBody {
  width: 240px;
  margin-top: 60px;
}

.dropButtons {
  border: solid 1px #fff;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .dropContainer {
    margin-top: 50px;
    min-height: 50vh;
    width: 100%;
    background-size: contain;
    background-position-x: center;
  }

  .dropText {
    font-size: 3rem;
    line-height: 50px;
    max-width: 70%;
    text-align: -webkit-center;
    margin-top: 40px;
  }

  .buttonsContainer {
    display: contents;
  }

  .imgBody {
    width: 150px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .dropContainer {
    background-size: cover;
  }
}
