.genesisContainer {
  background-image: url('../static/genesis-background-square-low.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  padding: 40px;
}

.background-drop {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.genesisMainText {
  color: #fff;
  font-size: 7vw;
  width: 90%;
  margin-top: 100px;
  line-height: 7vw;
  text-shadow: 1px 0 #fff;
  font-weight: bolder;
}

.bodyGenesis {
  justify-self: center;
  max-width: 65%;
  height: auto;
}

.genesisBodyTitle {
  font-weight: bolder;
  font-size: 2.5vw;
}

.bodyContainer {
  display: grid;
}

.active {
  background-color: blue;
}

.imgContainer {
  display: grid;
  margin-top: 200px;
}

.bodyText {
  color: #fff;
  margin-top: 100px;
  width: 65%;
  font-size: 2vw;
  line-height: 2vw;
}

.bodyParagraphs {
  font-size: 2vw;
}

.dataBoxContainer {
  justify-self: center;
  justify-content: center;
}

.uniquePhrase {
  font-size: 2.5vw;
  width: 60%;
  font-family: 'Space Grotesk';
  font-weight: bolder;
  line-height: 3vw;
}

@media screen and (max-width: 900px) {
  .dataBoxContainer {
    justify-self: center;
    width: 100%;
    justify-content: center;
    display: grid;
    place-items: center;
  }
  .genesisMainText {
    font-size: 3rem;
    line-height: 3rem;
  }

  .genesisContainer {
    background-size: cover;
    padding: 20px;
  }
  .genesisBodyTitle {
    font-size: 1rem;
  }

  .bodyText {
    font-size: 1.3rem;
    width: auto;
    line-height: 1rem;
    margin-top: 50px;
  }

  .bodyParagraphs {
    font-size: 1rem;
    margin-top: 25px;
  }

  .uniquePhrase {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .bodyContainer {
    margin-top: 50px;
  }

  .bodyGenesis {
    max-width: 95%;
  }

  .imgContainer {
    margin-top: 100px;
  }
}
