.bodyHome {
  padding-top: 50px;
  width: 100%;
}

.homeContainer {
  background-image: url('../../public/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.topText {
  color: #000;
  display: inline-block;
  font-size: 0.7rem;
  margin-bottom: 2px;
  vertical-align: middle;
}

.mainText {
  font-size: 3rem;
}

.mainSection {
  max-width: 60%;
}

.black-dot {
  height: 9px;
  width: 9px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}


@media screen and (max-width: 600px) {
  .mainText {
    font-size: 2rem;
  }
}
