.socialContainer {
  text-align: -webkit-center;
  margin-top: 50px;
}

.socialIcon {
  width: 1.5vw;
}

.buttonSocial {
  width: 15vw;
  background-color: transparent;
  border-color: #fff;
  border-width: 1px;
  border-radius: 35px;
}

.buttonSocialMiddle {
  margin-left: -30px;
  margin-right: -30px;
}

.socialText {
  color: #fff;
  font-family: 'Space Grotesk';
  font-size: 1vw;
  font-weight: bold;
}


@media screen and (max-width: 900px) {
  .socialContainer {
    text-align: -webkit-center;
    display: grid;
    justify-content: center;
  }

  .buttonSocial {
    width: 160px;
    background-color: transparent;
    border-color: #fff;
    border-width: 1px;
    place-self: center;
    border-radius: 35px;
  }


  .socialText {
    font-size: 1rem;
  }


  .socialIcon {
    width: 20px;
  }
}