.socialContainer {
  text-align: -webkit-center;
  margin-top: 200px;
}

.socialIcon {
  padding: 15px;
}

.buttonSocial {
  width: 20rem;
  background-color: transparent;
  border-color: #fff;
  border-width: 1px;
  border-radius: 65px;
  padding: 10px;
}

.buttonSocialMiddle {
  margin-left: -30px;
  margin-right: -30px;
}

.socialText {
  color: #fff;
  font-family: 'Space Grotesk';
  font-size: 1vw;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .socialContainer {
    text-align: -webkit-center;
    display: grid;
    justify-content: center;
    margin-top: 50px;
  }

  .buttonSocial {
    width: 160px;
    background-color: transparent;
    border-color: #fff;
    border-width: 1px;
    place-self: center;
    border-radius: 35px;
  }

  .socialText {
    font-size: 1rem;
  }

  .socialIcon {
    width: 20px;
    padding: 0px;
  }

  .buttonSocialMiddle {
    margin-left: auto;
    margin-right: auto;
  }
}
