.subtitleSection {
  display: flex;
  margin-top: 20px;
  font-size: 1vw;
}

.date-field {
  border-radius: 50px;
  border: solid 1px #fff;
  background-color: #fff;
  display: inline-block;
  font-family: 'Space Grotesk';
  margin: 10px;
  margin-top: 0px;
  padding: 20px;
  width: fit-content;
  font-size: 1vw;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .date-field {
    font-size: 1rem;
    margin-top: 10px;
    align-self: center;
    padding: 15px;
  }
  .subtitleSection {
    display: block;
  }
}
