@font-face {
  font-family: 'Space Grotesk';
  src: url('../public/fonts/SpaceGrotesk-Regular.ttf') format('truetype'),
  url('../public/fonts/SpaceGrotesk-Bold.ttf') format('truetype'),
  url('../public/fonts/SpaceGrotesk-Light.ttf') format('truetype'),
  url('../public/fonts/SpaceGrotesk-Medium.ttf') format('truetype'),
  url('../public/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

.App {
  background-image: url('../public/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;

}

.title-image {
  background-color: black;
  border-radius: 12px;
  padding: 40px 0px;
  left: 0px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  max-width: 920px;
}

.info-text {
  background-color: black;
  border-radius: 12px;
  font-size: 18px;
  padding: 20px;  
  max-width: 900px;
  margin: 1.5rem;  
}

.title-text {
  max-width: 100%;
  width: 600px;
}

.float-right {
  float: right
}

.float-left {
  float: left
}


.item {
  display: flex
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}
